*{margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
    }
    
    .sidebar{
        position: fixed;
        width: 60px;
        height: 100%;
        background: teal;
        transition: 0.5s;
        overflow: hidden;
     }
     .sidebar:hover{
        width: 300px;
     }
     .sidebar ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
     }
     .sidebar ul li{
        position: relative;
        width: 100%;
        list-style: none;
     }
     .sidebar ul li:hover{
        background: #4caf50;
     }
     .sidebar ul li a{
          position: relative;
          display: block;
          width: 100%;
          display: flex;
          text-decoration: none;
          color: #fff;  
    }
    .sidebar ul li a .icon{
position: relative;
display: block;
min-width: 60px;
height: 60px;
line-height: 60px;
text-align: center;
    }
    .sidebar ul li a .icon .fa{
      font-size: 24px;
    }
    .sidebar ul li a .title{
        position: relative;
        display: block;
      padding: 0 10px;
        height: 60px;
        line-height: 60px;
        text-align: start;
        white-space: nowrap;
    }
    .body-text{
        display: flex;
        font-family: "Montserrat" , sans-serif;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
        margin-bottom: 20px;
        background-color: teal;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: white;
        padding: 20px; 
        width: 600px;   
        margin-left: 100px;
    }
   
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: teal;
        font-family: "Montserrat" , sans-serif;
    }
    
    .nav-links   {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .nav-links li {
        list-style: none;
    }
    .heading{
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    .nav-links a{
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        padding: 14px 16px;
    }
    .nav-links li a: :hover:not(.active) {
        background-color: #4caf50;
    }
    .nav-links li a.active {
        background-color: #4caf50;
    }
     .nav-links li ul li{
        display: none;
    }
    .nav-links li:hover ul li{
        display: block;
    }
    
  
    .homeparagraaf1{
        font-family: "Montserrat" , sans-serif;
       align-items: center;
       justify-content: center;
        display: flex;
        background-color: teal;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: white;
        padding: 20px; 
        width: 600px;   
        margin-left: 100px;
    }
    
    
    .htmlcode{
        width: 440px;
        display: block;
        margin-left: 66%;
        border-style: solid;    
        border-width: 4px;
        border-color: black;
    }
    .hzlogo{
        margin-left: 10%;
    }
    .vraag{
        background-color: teal;
        padding: 10px;
        font-family: "Montserrat" , sans-serif;
       align-items: center;
       justify-content: center;
       width: 500px;
       margin-left: 900px;
       font-size: larger;
       color: white;
    }
    .antwoord{
        background-color: rgb(162, 224, 224);
        padding: 10px;
        font-family: "Montserrat" , sans-serif;
       align-items: center;
       justify-content: center;
       width: 500px;
       margin-left: 900px;
       font-size: larger;
       color: white;
    }
    .container{
        display: inline-block;
    }
    body{
    background-image: url("animatedbackground.jpg");
    background-size: 100%;
    }
    
.faqblok {
    position: relative;
    display: inline-block;
}

.faqblok:hover .faqblok-dropdown-content {
    display: block;
}
.blogmenu {
    position: relative;
    display: inline-block;
  }
  
  .blogmenucontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .blogmenu:hover .blogmenucontent {
    display: block;
  }
  .linkcollection{
    font-family: "Montserrat" , sans-serif;
    font-size: larger;
    background-color: teal;
    width: 600px;;
    color: white;
    margin-left: 60%;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  #p0{
    padding-bottom: 20px;
    padding-top: 5px;
  }
  .karakterestiekenlijst{
    background-color: teal;
    width: 600px;
    margin-left: 100px;
    padding: 20px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: "Montserrat" , sans-serif;
    font-size: larger;
  }
  .karakterestiekenlijst li{
    padding: 10px;
  }
.Fritureluur{
    width: 400px;
    margin-right: 51px;
    margin-top: 20px;
    border: solid black 5px;
}
.Huis{
    width: 400px;
    margin-left: 50px;
    border: solid black 5px;
}
.Tompoes{
    width: 400px;
    margin-top: 150px;
    margin-right: 50px;
    border: solid black 5px;
}
.groentekstwolkje{
    width: 30%;
}