*{margin:0px;
padding: 0px;
box-sizing: border-box;
}

.body-text{
    display: flex;
    font-family: "Montserrat" , sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    padding: 20px; 
    width: 600px;   
    margin-left: 100px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat" , sans-serif;
}
.nav-links   {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}
.heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
.nav-links li a: :hover:not(.active) {
    background-color: lightseagreen;
}
.nav-links li a.active {
    background-color: #4caf50;
}
.linkcollection{
    font-family: "Montserrat" , sans-serif;
    font-size: larger;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: teal;
    width: 400px;;
    color: white;
   border-top: 2px solid black;
   border-left: 2px solid black;
    border-right: 2px solid black;
    
}
.codepractice{
    padding-left: 35px;
    font-family: "Montserrat" , sans-serif;
    background-color: teal;
    width: 400px;
    height: 400px;
    color: white;
    border-bottom: 2px solid black;
   border-left: 2px solid black;
    border-right: 2px solid black;
}
.homeparagraaf1{
    font-family: "Montserrat" , sans-serif;
   align-items: center;
   justify-content: center;
    display: flex;
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    padding: 20px; 
    width: 600px;   
    margin-left: 100px;
}
.blokken{
    display: inline-block;
}
.htmlcode{
    width: 440px;
    display: block;
    margin-left: 1180px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
.vraag{
    background-color: teal;
    padding: 10px;
    font-family: "Montserrat" , sans-serif;
   align-items: center;
   justify-content: center;
   width: 500px;
   margin-left: 900px;
   font-size: larger;
   color: white;
}
.antwoord{
    background-color: rgb(162, 224, 224);
    padding: 10px;
    font-family: "Montserrat" , sans-serif;
   align-items: center;
   justify-content: center;
   width: 500px;
   margin-left: 900px;
   font-size: larger;
   color: white;
}
.container{
    display: inline-block;
}
body{
    background-color: rgb(219, 252, 252);
}