* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: teal;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #4caf50;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .icon .fa {
    font-size: 24px;
}

.sidebar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    padding: 20px;
    width: 600px;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat", sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links li a: :hover:not(.active) {
    background-color: #4caf50;
}

.nav-links li a.active {
    background-color: #4caf50;
}

.nav-links li ul li {
    display: none;
}

.nav-links li:hover ul li {
    display: block;
}


.homeparagraaf1 {
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    align-items: center;
    justify-content: center;
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    padding: 20px;
    width: 600px;
    margin-left: 100px;
    height: 470px;
    float: left;
}


.htmlcode {
    width: 500px;
    height: 280px;
    display: block;
    margin-left: 55%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    margin-top: 10px;
}

.hzlogo {
    margin-right: 16%;
    border: 2px solid black;
}

.vraag {
    background-color: teal;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 900px;
    font-size: larger;
    color: white;
}

.antwoord {
    background-color: rgb(162, 224, 224);
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 900px;
    font-size: larger;
    color: white;
}

.container {
    display: inline-block;
}

body {
    background-image: url("animatedbackground.jpg");
    background-size: auto%;
    background-repeat: no-repeat;
}

.faqblok {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 100px;
}

.faqblok:hover .faqblok-dropdown-content {
    display: block;
}



.linkcollection {
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    background-color: teal;
    width: 700px;
    color: white;
    margin-left: 50%;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 40px;
}
.linkcollection li{
    padding: 10px;
}

#p0 {
    padding-bottom: 20px;
    padding-top: 5px;
}

.karakterestiekenlijst {
    background-color: teal;
    width: 600px;
    margin-left: 100px;
    padding: 20px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
}

.karakterestiekenlijst li {
    padding: 10px;
}

.Fritureluur {
    width: 400px;
    margin-right: 51px;
    margin-top: 20px;
    border: solid black 5px;
}

.Huis {
    width: 400px;
    margin-left: 50px;
    border: solid black 5px;
}

.Tompoes {
    width: 400px;
    margin-top: 150px;
    margin-right: 50px;
    border: solid black 5px;
}

.groentekstwolkje {
    width: 100px;
    margin-left: 200px;
    border: solid black 5px;
}

table, th, td{
   
    color: white;
    border-collapse: collapse;
    border-left: none;
    border: 2px solid black;
    width: 600px;
    margin-left: 100px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
.tabel1titel{
    color: white;
    border-collapse: collapse;
    border-left: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 600px;
    margin-left: 100px;
    padding: 5px;
    background-color: teal;
    text-align: center;
    justify-content: center;

}
#cyantable{
    background-color: rgb(146, 227, 220);
}
#tealtable{
    background-color: teal;
}
.child{
    float: left;
}
.parrent{
    float: right;
    margin-right: 100px;
}
.hzlogo{
    float: right;
}
.faqpage1{
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    padding: 20px;
    width: 600px;
    margin-left: 100px;
    float: left;
}
    
#homep{
padding: 20px;
}
.progresbarcontainer{
float: right;
background-color: teal;
margin-right: 100px;
margin-top: 10px;
border: solid black 2px;

}
.progresbartitelcontainer{
    float: right;
    background-color: teal;
    margin-right: 100px;
    margin-top: 50px;
    border: solid black 2px;
    color: white;

}
.progresbartitel{
    width: 600px;
    height: 80px; 
    text-align: center;
    justify-content: center;
    padding: 8px;
    font-size: larger;
}
#red{
    color: red;
}


.progresbar1{
    width: 600px;
    height: 40px;
    background-color: teal;
}

.progresbar2{
    width: 0px;
    height: 40px;
    background-color: rgb(146, 227, 220);
    position: absolute;
    float: right;
}

.divider{
    height: 40px;
    width: 2px;
    background-color: red;
    position: absolute;
    float: right;
    margin-left: 450px;
}

.faqplaatje{
    float: left;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.faqvragen{
    position: absolute;
    float: right;
}
.motivatie{
    background-color: teal;
    color: white;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    width: 600px;
    position: absolute;
    float: right;
    margin-left: 55%;
    padding: 20px;
    font-size: larger;
}
.motivatie h3{
    padding: 10px;
}
.motivatie p{
    padding: 10px;
}

.blogtabel1{
    height: 300px;
    position: absolute;
    float: right;
    margin-left: 1000px;
    margin-top: 350px;
}
.blogtabel2{
    height: 300px;
    position: absolute;
    float: right;
    margin-left: 1000px;
    margin-top: 700px;
}
.blogtabel3{
    height: 300px;
    position: absolute;
    float: left;
}
.blogtabel4{
    height: 300px;
    position: absolute;
    float: left;
    margin-top: 350px;
}
.blogtabel5{
    height: 300px;
    position: absolute;
    float: left;
    margin-top: 700px;
}


